<!DOCTYPE html>
<html>
<head>
<title>Dr Sandy Brownlee's Home Page</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="author" content="Sandy Brownlee" />
  {% include stiracuk/unicss.html %}
  <!--was an include of virtual="/include/unicss.html" -->
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" type="text/css" href="sbstyles.css" />
</head>

<!--#set var="navsubsec" value="staff" -->

<body class="Study with Stirling">

  <!-- "#include" the standard dept banner and nav bar -->
  {% include stiracuk/uniheader.html %}
  <!-- was an include of virtual="/include/uniheader.html" -->
  <!-- end of included banner and nav bar -->

  <div id="breadcrumb">
    You are here:
    <a title ="Computing Science and Mathematics Home" href="/">CS&amp;M</a>
    &raquo; <a title ="Staff List" href="/intro/whoiswho.html">Staff</a>
    &raquo; Dr Sandy Brownlee
  </div>

  <div id="stir-content" class="seven-ten">
  <a name="maincontent"></a>
  <!-- main content goes below here -->
{% include sbheader.html %}
    <h2>Calendar</h2>

    <p>
<iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=2&amp;bgcolor=%23FFFFFF&amp;src=sandy%40brownlees.net&amp;color=%232952A3&amp;ctz=Europe%2FLondon" style="border-width:0" width="640" height="600" frameborder="0" scrolling="no"></iframe>

  <!-- end of main content -->

<!--#set var="myname" value="Dr Sandy Brownlee" -->
<!--#set var="myroom" value="4B125" -->
<!--#set var="myext" value="7454" -->

{% include stiracuk/unifooter.html %}
<!-- was in include of /include/unifooter.html -->
