---
---
<!DOCTYPE html>
<html>
<head>
<title>Dr Sandy Brownlee's Home Page</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="author" content="Sandy Brownlee" />
  {% include stiracuk/unicss.html %}
  <!--was an include of virtual="/include/unicss.html" -->
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" type="text/css" href="sbstyles.css" />
</head>

<!--#set var="navsubsec" value="staff" -->

<body class="Study with Stirling">

  <!-- "#include" the standard dept banner and nav bar -->
  {% include stiracuk/uniheader.html %}
  <!-- was an include of virtual="/include/uniheader.html" -->
  <!-- end of included banner and nav bar -->

  <div id="stir-content" class="seven-ten">
  <a name="maincontent"></a>
  <!-- main content goes below here -->
	{% include sbheader.html %}

    <h3>Admin Responsibilities</h3>
    <p>I serve the academic community in a number of ways...

    <h3>Programme Director, AI and Big Data MSc</a></h3>
    <p>I am currently leading on these two popular MSc programmes. If you have an enquiry about these, please email big-data@stir.ac.uk or artificial-intelligence@stir.ac.uk. For any other communications, click on my name at the bottom of this page to see my details.</p></p>

    <h3>Event organisation, and conference participation</h3>
    <p>Co-chair, Student workshop, and co-chair, Real World Applications track, at GECCO 2025</a>
    <p>Co-chair, <a href="https://ecxai.github.io/ecxai/workshop">Evolutionary Computation and Explainable AI workshop</a> at GECCO 2022-5</a>
    <p>Co-chair, Heuristic Optimization stream at <a href="https://euro2021athens.com/">EURO 2021</a>
    <p>Co-chair, <a href="http://geneticimprovementofsoftware.com/wcci2020ss.html">Special Session on Genetic Improvement of Software at WCCI 2020</a>
    <p>Co-chair, <a href="https://gi-gecco-20.gi-workshops.org">Workshop on Genetic Improvement of Software at GECCO 2020</a>
	<p>Academic chair for the <a href="https://www.sicsaconf.org">SICSA PhD Conference</a> 2019
	<p>Chair, <a href="https://sites.google.com/view/sicsa-pre-ec-day-2019/">SICSA Pre-EC Day</a> 2019
	<p><i>Real world transportation workshop</i>, funded by SICSA, 16 January 2015.


	<p>Conferences/workshops attended: IEEE CEC 2005,2008,2009,2010,2014,2020; GECCO 2007,2008,2011,2012,2014-2025; IEEE SSCI 2011; IBPSA BSO 2012; EMO 2013; PATAT 2014; UKCI 2016; PPSN 2016; OR 2017; ICSE 2021; EURO 2021. Dagstuhl on EDAs, theory and applications 2022.</p>

    <h3>Reviewing</h3>
    <p>Funding
    <ul>
    <li>Member, EPSRC Peer Review College, covering EPSRC and UKRI proposals</li>
	<li>Carnegie Trust</li>
    <li>Leverhulme Trust</li>
	<li>National Institute for Health Research (UK)</li>
    <li>Netherlands Organisation for Scientific Research (NWO).</li>
	</ul>
	</p>

	<p>Conferences (including IEEE CEC, GECCO, ECTA, EvoCOP, MOD, LOD, PPSN, UKCI, BSO)</p>

	<p>Journals including:
	<ul>
	<li>ACM Transactions on Evolutionary Learning and Optimisation</li>
	<li>AI Communications</li>
	<li>Algorithms</li>
	<li>Annals of OR</li>
	<li>Applied Soft Computing</li>
	<li>Artificial Intelligence for Engineering Design, Analysis and Manufacturing (AI-EDAM)</li>
	<li>ASHRAE Journal</li>
	<li>Automatisierungstechnik</li>
	<li>Building and Environment</li>
	<li>Computers and Operations Research</li>
	<li>Energy and Buildings</li>
    <li>Engineering Applications of Artificial Intelligence</li>
	<li>Engineering Science and Technology: an International Journal (JESTECH)</li>
    <li>Engineering with Computers</li>
	<li>Entropy</li>
	<li>Evolutionary Computation</li>
    <li>IEEE/CAA Journal of Automatica Sinica</li>
	<li>IEEE Transactions on Cybernetics</li>
	<li>IEEE Transactions on Emerging Topics in Computational Intelligence</li>
	<li>IEEE Transactions on Evolutionary Computation</li>
	<li>IET Electronics Letters</li>
    <li>IMA Journal of Management Mathematics</li>
	<li>Information Sciences</li>
	<li>International Journal of Information Technology & Decision Making</li>
	<li>International Journal of Refrigeration</li>
	<li>International Journal of Systems Science</li>
	<li>Journal of Air Transport Management</li>
	<li>Journal of Building Performance Simulation</li>
	<li>Journal of Global Optimization</li>
	<li>Journal of Heuristics</li>
	<li>Journal of the Operational Research Society</li>
	<li>Memetic Computing</li>
	<li>Natural Computing</li>
    <li>Operations Research Forum</li>
	<li>OR Spectrum</li>
	<li>Sensors</li>
	<li>Symmetry</li>
	<li>Soft Computing</li>
    <li>Thermochimica Acta</li>
	<li>Transportation Research Part C: Emerging Technologies</li>
	</ul>
	(See my <a href="https://publons.com/a/836388/">Publons</a> profile for latest reviewing stats)
	</p>

	<h3>Brief CV</h3>
	<p><b>Lecturer (2018-2022), Senior Lecturer (2022-2025), Associate Professor (2025-), Computing Science and Mathematics, University of Stirling</b><br />
	Research in optimisation, machine learning and data science. Teaching in computing science on both undergraduate and postgraduate programmes.</p>


	<p><b>Senior Research Assistant, Computing Science and Mathematics, University of Stirling, 2013-2018</b><br />
	Airport operations optimisation, mostly focused on ground movement (taxiing) and uncertainty. Dynamic adaptic software engineering, focused on automatic improvement of parameters and code to improve speed, fix bugs, and decrease power consumption.
	Feature based approaches to optimisation.</p>

	<p><b>Research Associate, Civil & Building Engineering, Loughborough University, 2010-2013</b><br />
	Applying multi-objective evolutionary algorithms to optimisation of buildings. Highlight of the project was the granting of a software licence to IES Ltd for integration of our optimisation algorithm into their commerical building simulation suite.</p>

	<p><b>Software Engineer, ODS-Petrodata Ltd, Aberdeen, 2008-2010</b><br />
	Development of a distributed data management system and tools to support market analysts for internal use within the company.</p>

	<p><b>PhD, Robert Gordon University, Aberdeen, 2005-2009</b><br />
	Explored the role of fitness modelling in estimation of distribution algorithms. <a href="http://hdl.handle.net/10059/381">Link to Thesis</a></p>

	<h3>Awards, accreditation and titles</h3>
	<p><a href="https://www.stir.ac.uk/sfelte/">SFELTE</a> Fellow, and Fellow of the HEA
	<p>Visiting Fellow, Loughborough University

	<h3>Academic duties and participation</h3>
    <p>Editorial Board Member: Journal of Scheduling (Springer) 2023-
    <p>Editorial Board Member: Complex & Intelligent Systems (Springer) 2020-
    <p>Editorial Board Member: Algorithms (MDPI) 2023-
    <p>Editorial Board Member: CivEng (MDPI) 2020-

  <!-- end of main content -->

<!--#set var="myname" value="Dr Sandy Brownlee" -->
<!--#set var="myroom" value="4B125" -->
<!--#set var="myext" value="7454" -->

{% include stiracuk/unifooter.html %}
<!-- was in include of /include/unifooter.html -->
