   <p><pre style="white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */">
-----BEGIN GEEK CODE BLOCK-----
Version: 3.12
GCS/GM/GS d s:s- a C++++$ UL+++ P++ L++>++++ E---- W++ N+ o+ K- w O- M-- V+ PS+ PE- Y+ PGP+ t++@ 5- X R- tv+ b+ DI++ D+ G e++++ h---- r+++ y++++
------END GEEK CODE BLOCK------
</pre></p>
