html, body {
    background:#EEE;
    color:#333;
    font-family:Helvetica, Arial, Verdana, Geneva, sans-serif;
    line-height:1.2em;
}

h1,h2,h3,h4,h5,h6,ul.nav,span.label,ul.links,p.undergraduate-course, p.postgraduate-course{font-family:Helvetica, serif;}

h2 {
    font-size:1.125em; /* 18/16 */
    line-height:1.3em;
}
h3 {
    color:rgb(110,21,114);
    margin-bottom: 0.625em;
}
a {
    color:inherit;
    text-decoration:none;
}
a:hover {
    text-decoration: underline;
}
strong, b, h1, h2, h3 {
    font-weight:bold;
}
div#page {
    width:980px;
    margin:0 auto;
    background:#FFF;
    border:1px solid #A0A0A0;
    border-width:0 1px;
    -moz-box-shadow:
      2px 0 5px rgba(0,0,0,0.222),
     -2px 0 5px rgba(0,0,0,0.222);
    -webkit-box-shadow:
      2px 0 5px rgba(0,0,0,0.222),
     -2px 0 5px rgba(0,0,0,0.222);
    box-shadow:
      2px 0 5px rgba(0,0,0,0.222),
     -2px 0 5px rgba(0,0,0,0.222);
}
div.header {
    width:100%;
    float:left;
    position:relative;
}
div.header h1 {
    font-size:0.8em;       /* 12.8/16 */
    height:2.8125em;       /* 36/12.8*/
    line-height:2.8125em;
    font-weight: normal;
    float:right;
    color: rgb(0,108,69);
    padding-right:10px;
    font-style: italic;
}
div.header a.logo {
    display:block;
    float:left;
/*    height:101px;
    line-height:102px;*/
    margin-left:20px;
}
div.header a.logo img {
  padding: 21px 0 15px;
}
ul.nav { 
    clear:left;
    background:#DEDEDE;
    background: #eee;
/*
    background:-o-linear-gradient(#f5f5f5, #dedede);
    background:-moz-linear-gradient(#f5f5f5, #dedede);
    background:-webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#dedede));
*/
    border:1px solid #CCC;
    border-width:1px 0;
    font-size:0.75em; /* 0.8125em; /* 13/16 */
    font-weight:bold;
    height:1.6153846153846153846153846153846em; /* 21/13 */ 
    line-height:1.6153846153846153846153846153846em;
    padding:6px 10px;
    text-align:center;
}
ul.nav li {
    display:inline;
}
ul.nav li a {
    padding:0 3%;
    color:#333; /* IE9(7mode) inherit issue */
    /* RK added */
    font-size: 14px;
    font-weight: normal;
}

ul.nav li.home{
    background: url("/web/20181118131744im_/https://www.stir.ac.uk/media/wwwstiracuk/styleassets/images/notch.png") no-repeat scroll center bottom transparent;
    padding-bottom: 8px;
    position: relative;
    z-index: 1;
}


/* Course Accordion */

.course-accordion{ margin:10px 0 20px 0; background: rgba(84, 125, 167, 0.10); border-bottom:1px solid rgba(84, 125, 167, 0.50); border-left:1px solid rgba(84, 125, 167, 0.50); border-right:1px solid rgba(84, 125, 167, 0.50)}
.course-accordion > h2 { border-top:1px solid rgba(84, 125, 167, 0.50); padding:10px 10px 0 10px ; border-bottom: 0 !important; font-size: 14px !important; font-family: CartoGothicPro, Verdana, Geneva, sans-serif; font-weight:bold; border-bottom: 1px dotted rgba(84, 125, 167, 0.50) }
.course-accordion > div { padding: 10px; }

.fb-best-bet{

}

/*********/

div#breadcrumb {
    background: #313131;
/*
    background: -o-linear-gradient(#5f5f5f, #2e2e2e);
    background: -moz-linear-gradient(#5f5f5f, #2e2e2e);
    background: -webkit-gradient(linear, left top, left bottom, from(#5f5f5f), to(#2e2e2e));
    background: linear-gradient(#5f5f5f, #2e2e2e);
    -moz-box-shadow:0 2px 2px rgba(0, 0, 0, 0.333);
    -webkit-box-shadow:0 2px 2px rgba(0, 0, 0, 0.333);
    box-shadow:0 2px 2px rgba(0, 0, 0, 0.333);
*/

    height:33px;     /* 2.0625em; 33/16 */
    line-height:33px;
    font-size:10px;
    color:#FFF;
    color:rgba(255, 255, 255, 0.9);
    position: relative;
    border-top:1px solid #6E1572;
    border-top: none !important;
    padding: 0 10px;
    color:#FFF;
}
div#breadcrumb a {
   color:#FFF;
}

/*********/

div.slider {
    height:14em;
    margin-bottom:1em;
    /*background:-o-linear-gradient(#00F, #F36);
    background:-moz-linear-gradient(#00F, #F36);
    background:linear-gradient(#00F, #F36);*/
}
div.footer {
    position:relative;
    background:#E9E9E9;
    box-shadow:0 3px 4px rgba(0, 0, 0, 0.05) inset;
    height: 7em;
    color: #636363;
    font-size: 0.75em;
    clear:both;
    width:100%;
}

div.footer ul.social {
	position:absolute;
	top:-29px;
	right:10px;
}
div.footer ul.social li{
	display:inline;
	padding-left:5px;
}

div.address {
  width:40%;
  float:left;
  margin-left:15px;
}
div.leaf div.address {
  width:90%;
}
div.news, div.other {
    float:left;
    width:100%;
}
div.news div.newspanel, div.news div.eventspanel, div.minislider, div.vegas {
    margin:0 0 10px 10px;
    padding: 0 12px;
    float:left;
}
div.news div.newspanel, div.minislider {
    width:615px;
}

div.eventspanel, div.vegas {
width:300px;
*width:280px;
_width:280px;
}
div.event{
	position: relative;
}
div.event h2 {
        line-height: 1.3em !important;
}
div.soldout2{
	width:165px;
	height:163px;
	background-image: url( "/web/20181118131744im_/https://www.stir.ac.uk/media/wwwstiracuk/styleassets/images/sold-out-scaled2.png" );
	background-position: center center;
	background-repeat: no-repeat;
	color:#FFF;
	position:absolute;
	top:-11px;
	right:-12px;
	z-index:1000;
}

div.article{
  float:left;
  margin-top:9px;
}

div.article h3 { line-height: 1.125em; margin-bottom: 1.125em; }

div.article p  {
  font-size: 0.75em;
  line-height: 1.5em;
  padding: 4px 0;
}

div.article p img {
  margin-left: 1em;
  /*max-height: 6em;*/
}

div.vegas ul li{
  background: url("/web/20181118131744im_/https://www.stir.ac.uk/media/wwwstiracuk/styleassets/images/vegas.png") 0 0 no-repeat;
  padding-left:25px;
  height:30px;
  line-height:30px;
  font-size: 0.75em;
}

div.minislider {
    position:relative;
}
div.sliderbody {
    /* Don't forget non-JavaScript fallback style */
    border:1px solid #a3a3a3;
    width:606px;
    height:8em;
    background:#FFF;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3) inset;
    padding:10px;
    margin:0 auto;
    overflow: auto;
}
div.slidercarriage {
    width:4000px;
}
div.slideritem {
    width:566px;
    padding:0 20px;
    height:5em;
    float:left;
    margin-right:1em;
}
div.slideritem img {
    float:right;
    margin-left:10px;
    border:1px solid rgb(110,21,114);
    border-radius:2px;
}
div.slideritem h3 {
    margin-bottom:1em;
    font-weight:bold;
}
div.slideritem p {
    font-size:0.75em;
}
div.header h2 {
    float:left;
    line-height:1em;
    margin: 8px 0 8px 0;
}
div.header a.rss {
    display:block;
    float:left;
}
ul.links {
    color:#636363;
    float:left;
    line-height: 1.3846153846153846153846153846154em;  /*    18/13 */
    margin-left: 0.53846153846153846153846153846154em; /*7px  7/13 */
    margin-top: 7px;
    margin-bottom:7px;
    /*padding-top: 3px;*/
}

div.footer ul.links {
}

ul.links li {
    float:left;
}
ul.links li a {
    padding:0 0.69230769230769230769230769230769em 0 0.76923076923076923076923076923077em; /* 0 9px 0 10px @ 13px */
    border-right:1px solid #636363;
}
ul.links li:last-child a {
    border:0;
}

ul.links li.portal a { color:#6E1572; }

div.smt {
    float: left;
    width: 710px;
}
div.profile {
    float: left;
    font-size: 12px;
    height: 19em;
    line-height: 1em;
    margin-bottom: 1em;
    margin-right: 2px;
    text-align: center;
    width: 140px;
}
div.profile img {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    padding: 9px;
}
#stir-content div.profile a {
    color: #444444;
    display: block;
}
#stir-content div.profile a:hover img {
    border-color: #999999;
}
div.profile a strong {
    color: #508270;
    display: block;
    font-size: 11px;
    font-variant: small-caps;
    font-weight: bold;
    margin-bottom: 0.4em;
    margin-top: 0.4em;
}

.promo3 a img {
	max-width: 228px;
	height: auto;
}

.course-highlight{
	border: 1px solid #73B3DB;
	color: #002C66;
	font-weight: bold;
	padding: 5px;
}


/* v   S E A R C H   F O R M   v */

form#search {
    clear:right;
    float:right;
    position:relative;
    right:10px;
    width:230px;
}

div.leaf form#search{
    margin-top:36px;
}

form#search input {
    border:0;
    margin:0;
    padding:0;
    background:#FFF;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

}
form#search input#q {
    border:1px solid #CCC;
    height:38px;
    width:100%;
    line-height:38px;
    padding:0 0 0 10px;
}

form#search input#q:focus{
	outline:none;
}

form#search input#go {
	border:0;
	background:none;
	position: absolute;
    top:0;
    right:0;
    padding:11px;
}

/*** Funnelback autocomplete ***/
ul.ui-autocomplete {
    font-family: Helvetica, 'Arial', sans-serif;
    background: white;
    text-align: left;
    border: solid 1px #bbbbdd;
    list-style-type: none;
    padding: 0px;
    margin: 0;
    width: 385px;
    position: absolute;
}

ul.ui-autocomplete h2 {
    font-size: small;
    background-color: #efefef;
    padding: 5px;
}

ul.ui-autocomplete li.ui-menu-item {
    padding: 0;
    margin: 0;
    font-size: small;
}

ul.ui-autocomplete li.ui-menu-item a {
    display: block;
    padding: 3px;
    cursor: pointer;
}

ul.ui-autocomplete li.ui-menu-item a.description,
ul.ui-autocomplete li.ui-menu-item a.url {
    padding-top: 0px;
}

ul.ui-autocomplete li.ui-menu-item span {
    display: block;
    font-size: 1.1em;
    padding-left: 10px;
}

ul.ui-autocomplete li.ui-menu-item a.ui-state-hover {
    background-color: #efefff;
}

ul.ui-autocomplete.ui-menu.ui-widget.ui-widget-content.ui-corner-all{
    font-size: 1.2em;
    width: auto;
}
/* Layout helpers
----------------------------------*/
.ui-helper-hidden {
	display: none;
}
.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.ui-helper-reset {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1.3;
	text-decoration: none;
	font-size: 100%;
	list-style: none;
}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
	content: "";
	display: table;
	border-collapse: collapse;
}
.ui-helper-clearfix:after {
	clear: both;
}
.ui-helper-clearfix {
	min-height: 0; /* support: IE7 */
}
.ui-helper-zfix {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	opacity: 0;
	filter:Alpha(Opacity=0);
}

.ui-front {
	z-index: 100;
}


/***/

.stir-form1 input, .stir-form1 select, .stir-form1 textarea{
	margin: 5px;
	
}

/* ^   S E A R C H   F O R M   ^ */

form#logon{ float:right; font-size: 0.75em; margin-top:10px; margin-right:10px; clear:both} 

strong, b {font-weight:bold;}  #portal-status{ position: absolute; right:0; top:0; background:#E7E7E7; font-size:0.75em; line-height:1.5em; }  #portal-status a.portal00{ background:transparent url("/web/20181118131744im_/https://www.stir.ac.uk/media/wwwstiracuk/styleassets/images/portalnotch.png") 100% 50% no-repeat; color:#FFF; padding:0 14px 0 5px; display:block; float:left; margin-right:2px; } 

#portal-status a.portal01{ margin-right:5px; background: transparent url("/web/20181118131744im_/https://www.stir.ac.uk/media/wwwstiracuk/styleassets/images/logout.gif") 100% 50% no-repeat; padding-right:16px; color:#333; } 

/*
     FILE ARCHIVED ON 13:17:44 Nov 18, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 10:33:55 Dec 02, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  RedisCDXSource: 2.227
  esindex: 0.015
  CDXLines.iter: 24.932 (3)
  exclusion.robots: 0.203
  PetaboxLoader3.datanode: 69.011 (4)
  LoadShardBlock: 54.331 (3)
  exclusion.robots.policy: 0.188
  captures_list: 92.944
  PetaboxLoader3.resolve: 34.304
  load_resource: 60.953
*/