#stir-content {
  font-size:0.8125em; /* 13/16 */
}
#stir-content p {
  line-height:1.38461538461538em;
  margin-bottom:1.38461538461538em;
}

#stir-content ul{
  list-style-type:disc;
  list-style-position:outside;
  list-style-image:none;
}
#stir-content ol{
  list-style-type:decimal;
}
#stir-content ul, #stir-content ol {
  margin:0 0 1.38461538461538em 2em;
}
#stir-content ul ul {
  list-style-type:circle;
}
/*dl{}*/
dt{font-weight:bold;}
dd{margin-left:1em; margin-bottom:1em;}

#stir-content a, #stir-content a:link, #stir-content a b, #stir-content a strong {
	color:#3568C3
}

#stir-content strong,#stir-content b {
	font-weight:bold;
	color:#454545;
}
#stir-content em, #stir-content i {
	font-style:italic;
}

#stir-content h1,
#stir-content h2,
#stir-content h3,
#stir-content h4,
#stir-content h5,
#stir-content h6,
p.undergraduate-course,
p.postgraduate-course{
  color:#002c66;
  font-weight:normal;
}
#stir-content h1,
#stir-content h2,
p.undergraduate-course,
p.postgraduate-course{
  border-bottom: 1px dotted #002c66;
  border-bottom: 1px dotted rgba(0, 44, 102, 0.15);
}

/* ***********
#stir-content h1 a,
#stir-content h2 a,
#stir-content h3 a,
#stir-content h4 a,
#stir-content h5 a,
#stir-content h6 a{
    display: block;
    margin-bottom: -1px;
    border:0;
}

#stir-content h1 a:hover,
#stir-content h2 a:hover,
#stir-content h3 a:hover,
#stir-content h4 a:hover,
#stir-content h5 a:hover,
#stir-content h6 a:hover{
 border-bottom: 1px solid #002c66;
 text-decoration:none;
}
******************* */

#stir-content h1, 
#stir-content p.undergraduate-course,
#stir-content p.postgraduate-course {
  font-size:1.846153846153846em; /* 24/13 */
  margin-bottom:0.625em; /* 15/24 */
  padding-bottom:5px;
  line-height:1em;
}

#stir-content h2,
#stir-content h1.undergraduate-course,
#stir-content h1.postgraduate-course  {
  font-size:1.384615384615385em;
  line-height:1.3em;
  margin-bottom:1em;

}

#stir-content h1.undergraduate-course,
#stir-content h1.postgraduate-course {
  border:0;
}

h3 {
  font-size:1.230769230769231em;
}
h4 {
  font-size:1.076923076923077em;
}

sup {
  vertical-align: super;
  font-size:0.8461538461538462em; /* 11px/13px */
}

.smallprint{
    color: #555555;
    color: rgba(0, 0, 0, 0.7);
    font-size: 0.923077em;
    line-height: 1.33333em;
}
.lineage {
color: #888888;
font-size: 0.846154em;
}

/*
     FILE ARCHIVED ON 14:06:02 Nov 18, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 10:33:56 Dec 02, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots: 0.158
  captures_list: 718.337
  PetaboxLoader3.datanode: 604.126 (4)
  CDXLines.iter: 27.789 (3)
  load_resource: 176.72
  LoadShardBlock: 664.072 (3)
  RedisCDXSource: 21.811
  exclusion.robots.policy: 0.143
  PetaboxLoader3.resolve: 221.479 (2)
  esindex: 0.011
*/