    <!-- Uni CSS -->
<link rel="stylesheet" type="text/css" href="/~sbr/stiracuk/reset.css" />
<link rel="stylesheet" type="text/css" href="/~sbr/stiracuk/style.css" />
<link rel="stylesheet" type="text/css" href="/~sbr/stiracuk/typo.v8.css" />
<link rel="stylesheet" type="text/css" href="/~sbr/stiracuk/assets.v167.css" />
<link rel="stylesheet" type="text/css" href="/~sbr/stiracuk/layout.css" />
<link rel="stylesheet" type="text/css" href="/~sbr/stiracuk/webfont.css" />
  <!-- Print CSS -->
<link rel="stylesheet" type="text/css" media="print" href="/~sbr/stiracuk/print.css" />
  <!-- Colour packs -->
<link rel="stylesheet" type="text/css" href="/~sbr/stiracuk/Lime.css" />
  <!-- CS&M CSS -->
<link rel="stylesheet" type="text/css" media="screen" href="/css/unicsams.css" />
<link rel="stylesheet" type="text/css" media="print" href="/css/unicsamp.css" />

<!--[if lt IE 9]>
<link rel="stylesheet" type="text/css" href="/~sbr/stiracuk/lt-ie9.css" />
<![endif]-->

</script>
