    <!-- Uni CSS -->
<link rel="stylesheet" type="text/css" href="/stiracuk/reset.css" />
<link rel="stylesheet" type="text/css" href="/stiracuk/style.css" />
<link rel="stylesheet" type="text/css" href="/stiracuk/typo.v8.css" />
<link rel="stylesheet" type="text/css" href="/stiracuk/assets.v167.css" />
<link rel="stylesheet" type="text/css" href="/stiracuk/layout.css" />
<link rel="stylesheet" type="text/css" href="/stiracuk/webfont.css" />
  <!-- Print CSS -->
<link rel="stylesheet" type="text/css" media="print" href="/stiracuk/print.css" />
  <!-- Colour packs -->
<link rel="stylesheet" type="text/css" href="/stiracuk/Lime.css" />
  <!-- CS&M CSS -->
<link rel="stylesheet" type="text/css" media="screen" href="/css/unicsams.css" />
<link rel="stylesheet" type="text/css" media="print" href="/css/unicsamp.css" />

<!--[if lt IE 9]>
<link rel="stylesheet" type="text/css" href="/~sbr/stiracuk/lt-ie9.css" />
<![endif]-->

</script>
