 <div class="off-left"><a href="#maincontent"
  title="Skip to main page content">Skip to main page content</a>
  - your browser does not fully support our CSS, or is text-only.</div>

<div id="page">
<div class="header leaf">
<div id="portal-status"></div>
<a href="http://www.stir.ac.uk/" class="logo"><img src="https://www.stir.ac.uk/webcomponents/dist/css/images/logos/logo.svg" alt="University of Stirling" width="216" height="63"></a>
</div>

<ul class="nav">
 <li title="University Home" class="home"><a href="http://www.stir.ac.uk/">Home</a></li>
 <li title="Undergraduate, postgraduate, part time, CPD and exchange" class="study"><a href="http://www.stir.ac.uk/courses/">Courses</a></li>
 <li title="International" class="international"><a href="http://www.stir.ac.uk/study-in-the-uk/">International</a></li>
 <li title="Campus life" class="campus"><a href="http://www.stir.ac.uk/campus-life/">Campus life</a></li>
 <li title="Research" class="research"><a href="http://www.stir.ac.uk/research/">Research</a></li>
 <li title="Alumni & supporters" class="alumni"><a href="http://www.stir.ac.uk/alumni/">Alumni & supporters</a></li>
 <li title="About us" class="about"><a href="http://www.stir.ac.uk/about/">About us</a></li>
</ul>

